.welcome-page{
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to top, #e83ffd 0%, #a407ea 100%);
    height: 100vh;
    width: 100vw;
}

.map-design{
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.circle{
    background-color: transparent;
    height: 185px;
    width: 170px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#first{
    top: 80px;
    left: 65px;
}

#second{
    top: 80px;
    left: 150px;
}

#third{
    top: 155px;
    left: 150px;
}

#fourth{
    top: 155px;
    left: 65px;
}

.map-img{
    position: absolute;
    z-index: 1;
    top: 100px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.2);
}

.user-group-icon{
    position: absolute;
    top: 110px;
    z-index: 2;
    left: 50px;
}

.user-files-icon{
    z-index: 2;
    position: absolute;
    top: 170px;
    right: 40px;
}

.home-page-content{
    color: white;
    position: relative;
    margin-top: 350px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

#get-started{
    background-color: white(0, 0, 0, 0.9);
    color: black;
    width: 60%;
    height: 45px;
    border-radius: 20px;
    margin-top: 25px;
    border: none;
    font-size: large;
    font-weight: bold;
}